@charset "utf-8";

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #ffccf2;

}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #ffccf2;
}
h2 {
	font-size: 20px;
	color: #ffccf2;
}

body {
	background-image: url("pinkypie.jpg");
	background-color: black;
	background-repeat: none;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
	color: #ffccf2;

	margin: 0px;
	padding: 0px;
}

button {
  background-color: #ffccf2;
  color: black;
  border-color: black;
  border-radius: 10px;
  font-size: large;
  font-weight: bold
 
}
h1 {
  color: #ffccf2;
  

}
h2 {
	color: #ffccf2;
}
body {
  margin-left: 20%
}
#odgovor {
  width:100%;
  color: #ffccf2;
}

form {
	color: #ffccf2;
}

div {
	font-family: Tahoma, sans-serif;
	color: #ffccf2;
}

.class {
	font-family: Tahoma, Geneva, sans-serif;
	color: #ffccf2;
}